h1{
    color: #871256;
}
#headings{
    text-align: center;
    color: orange;
}
span{
    color: lightblue;
}
ol{
    font-family: Norasi;
}
#abc{
    color: darkred;
}
ul{
    font-size: large;
}
#efg
{
    color: olivedrab;
}